Managed Care submission: <b>{{packageName}}</b> was received from <b>{{stateCode}}</b>.
<br /><br />
<b>Submission type</b>: {{submissionType }}
<br />
<b>{{contractDates.label}}</b>: {{contractDates.start}} to {{contractDates.end}} 
<br />
{{#rateInfo}}
<b>Rate name</b>: {{rateInfo.name}}
<br />
<b>{{rateInfo.dates.label}}</b>: {{rateInfo.dates.start}} to  {{rateInfo.dates.end}}
<br />
{{/rateInfo}}
<b>Submission description</b>: {{submission.submissionDescription}}
<br />
<br />
<a href={{submissionURL}}>View submission</a>

